body{
    text-align: center;
    background-image: url(flores-manzanilla.jpg);
    background-attachment: fixed;/*para que no se repita*/
    background-size: cover;/*para que ocupe todo el contenido*/
}
main{
    padding: 15px;
    border: 6px;
    border-style: solid; 
    background-color: beige;
    margin: 90px;
}
p{
    padding: 20px;
    border: 2px;
    border-style: solid; 
}